@{
    ViewData["Title"] = "Главная страница";
    Layout = "_Layout";
}

    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <h1>Добро пожаловать!</h1>
            <p>Выберите интересующий вас раздел:</p>
        </div>
    </div>
