@model ProductionManagement.Models.SiteMap

@{
    ViewData["Title"] = "Динамическая карта сайта";
}

<h1>Динамическая карта сайта</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Контроллер</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model.Routes)
        {
            <tr>
                <td>@route.Controller</td>
                <td>@route.Action</td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>