/*#logs {
    font-family: verdana;
    resize: none;
    background-color: darkgray;
    border: 1px solid #ccc;
    padding: 5px;
}
*/
.progress-container {
    position: relative;
    height: 35px;
    width: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.progress-cell {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0%;
    background-color: lightgreen;
    transition: height 0.5s ease;
}
/* Вспышка фона строки */
.flash-effect {
    animation-name: flashRow;
    animation-duration: 0.5s; /* Продолжительность вспышки */
    animation-fill-mode: forwards; /* Сохранение последнего кадра */
}

@keyframes flashRow {
    from {
        background-color: springgreen;
    }
    /* Начальный фон */
    to {
        background-color: transparent;
    }
    /* Исчезновение фона */
}
.table-row:hover {
    background-color: #484848 !important; /* Стандартный светлый серый цвет */
}