@model ProductionManagement.Models.Material

@{
    Layout = "_Layout";
}
<h4>Продукция</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaterialCode" class="control-label"></label>
                <input asp-for="MaterialCode" class="form-control" />
                <span asp-validation-for="MaterialCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerCode" class="control-label"></label>
                <input asp-for="CustomerCode" class="form-control" />
                <span asp-validation-for="CustomerCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HU" class="control-label"></label>
                <input asp-for="HU" class="form-control" />
                <span asp-validation-for="HU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Netto" class="control-label"></label>
                <input asp-for="Netto" class="form-control" />
                <span asp-validation-for="Netto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brutto" class="control-label"></label>
                <input asp-for="Brutto" class="form-control" />
                <span asp-validation-for="Brutto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityInHU" class="control-label"></label>
                <input asp-for="QuantityInHU" class="form-control" />
                <span asp-validation-for="QuantityInHU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>